<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ownerId" content="4908148">
    <meta name="publishedId" content="RWMHKSKC">

    <meta name="description" content="Pokemon API">
    <meta name="generator" content="Postman Documenter">
    <title>{{title}}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" href="https://run.pstmn.io/button.css">

    <script src="js/messenger-setup.js"></script>
    <meta property="og:title" content="Pokeapi" />
    <meta property="og:description" content="Pokemon API" />
    <meta property="og:site_name" content="Pokeapi" />
    <meta property="og:url" content="https://documenter.getpostman.com/view/4908148/RWMHKSKC" />
    <meta property="og:image" content="https://res.cloudinary.com/postman/image/upload/w_152,h_56,c_fit,f_auto,t_team_logo/v1/team/768118b36f06c94b0306958b980558e6915839447e859fe16906e29d683976f0"/>


    <meta name="twitter:title" value="Pokeapi" />
    <meta name="twitter:description" value="Pokemon API" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" value="https://documenter.getpostman.com/view/4908148/RWMHKSKC" />
    <meta name="twitter:image" content="https://res.cloudinary.com/postman/image/upload/w_152,h_56,c_fit,f_auto,t_team_logo/v1/team/768118b36f06c94b0306958b980558e6915839447e859fe16906e29d683976f0"/>
    <meta name="twitter:label1" value="Last Update" />
    <meta name="twitter:data1" value="" />
</head>

<body>

    <div class="layout">
        <div class="top-bar">
            <div id="menu-toggle" class="visible-xs visible-sm"></div>

            <div class="branded-logo" data-identity-href="https://res.cloudinary.com/postman/image/upload/w_152,h_56,c_fit,f_auto,t_team_logo/v1/team/768118b36f06c94b0306958b980558e6915839447e859fe16906e29d683976f0"></div>

            <div class="top-bar-right">
                <div class="hidden-xs hidden-sm publish-doc">
                </div>

                <div class="public-col">
                    <div class="globe public hidden-xs">Public</div>
                </div>

                <div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="4908148-7186bad8-0c65-4118-a901-0a9c27e6cc1d-RWMHKSKC"></div>
                <script src="js/runbutton.js" type="text/javascript" id="public-run-button-embed" data-web-host="https://www.getpostman.com/"
                    data-button-url="https://run.pstmn.io/button.js"></script>

                <div class="environment-dropdown dropdown hidden-xs">
                    <button class="btn btn-default hard--sides disabled" type="button">
                        <div class="dropdown-button ellipsis active-environment" data-environment-id="0">No environment</div>
                    </button>
                </div>


                <button type="button" class="btn pm-btn pm-btn-secondary settings-toggle visible-xs">
                    <span class="icon settings-icon"></span>
                </button>
            </div>
        </div>

        <div class="modal" id="rawBodyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <button type="button" class="close btn-circle" data-dismiss="modal" aria-label="Close">
                <div>
                    <span aria-hidden="true">×</span>
                </div>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="snippetModal" tabindex="-1" role="dialog" aria-labelledby="documentation-response-modal">
            <button type="button" class="close btn-circle" data-dismiss="modal" aria-label="Close">
                <div>
                    <span aria-hidden="true">×</span>
                </div>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <pre><code></code></pre>
                    </div>
                </div>
            </div>
        </div>

        <div class='container-fluid no-gutter'>
            <div class="row no-gutter">
                <div class="col-xs-12 info no-gutter">
                    <div id="mobile-controls">

                        <label>Environment</label>
                        <div class="environment-dropdown dropdown">
                            <button class="btn pm-btn pm-btn-secondary hard--sides disabled" type="button">
                                <div class="dropdown-button ellipsis active-environment" data-environment-id="0">No environment</div>
                            </button>
                        </div>

                        <label>Language</label>
                        <div class="language">
                            <div class="btn-group languages">
                                <button type="button" class="btn pm-btn pm-btn-secondary dropdown-toggle language-button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="active-lang ellipsis">cURL</div>
                                    <span class="pm-doc-sprite pm-doc-sprite-dropdown-caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right language_dropdown">
                                    <li class="dropdown-menu-item" data-snippetname=shell:curl>cURL</li>
                                    <li class="dropdown-menu-item" data-snippetname=javascript:jquery>jQuery</li>
                                    <li class="dropdown-menu-item" data-snippetname=ruby:native>Ruby</li>
                                    <li class="dropdown-menu-item" data-snippetname=python:requests>Python Requests</li>
                                    <li class="dropdown-menu-item" data-snippetname=node:native>Node</li>
                                    <li class="dropdown-menu-item" data-snippetname=php:curl>PHP</li>
                                    <li class="dropdown-menu-item" data-snippetname=go:native>Go</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id='error-view'>
                    </div>

                    <div id="doc-body" class="is-loading">
                        <div class="initial-loader">
                            <div class="spinner"></div>
                            Just a moment...
                        </div>
                    </div>

                    <a href="https://www.getpostman.com/docs/creating_documentation" target="_blank" class="promo-banner is-hidden" id="live-documentation-banner">
                        <div class="container">
                            <i class="pm-generic-icon pm-icon-orange-back pm-icon-rounded pm-icon-lg pm-generic-icon-book"></i>
                            <h3>This is live documentation generated by Postman Pro</h3>
                            <span>Create your own live docs</span>
                        </div>
                    </a>
                </div>
                <div class="no-gutter phantom-sidebar"></div>
                <div class="no-gutter sidebar" id="nav-sidebar"></div>
            </div>
        </div>
    </div>


    <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
    <script src="js/production.js" id="script-data-scope" data-var-user-id="4908148" data-var-environment="production" data-var-team-id="0"
        data-var-domain-url="https://domains.postman.tech/" data-var-host="" data-var-url-prefix="" data-var-version="" data-var-sentry-dsn="https://714c749bafde4552896bc6298c2c28a6@sentry.postmanlabs.com/11"></script>

</body>

</html>